<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitap Kayıt Sayfası</title>
</head>
<body>
<form action="#" th:action="@{/saveBook}" th:object="${bookDTO}" method="post">

    <table border="2">
        <thead>
            <tr>
                <th>Kitap İsmi</th>
                <th>Kitabın Yazarı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" th:field="*{bookName}"/></td>
                <td><input type="text" th:field="*{authorName}"/></td>
            </tr>
        </tbody>
    </table>

    <input type="submit" value="Kaydet"/>
    <input type="reset" value="Sıfırla"/>
</form>
<a th:href="@{/}">Ana Sayfaya Dönün</a>
</body>
</html>