<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kitap Güncelleme Sayfası</title>
</head>
<body>
    <form action="#" th:action="@{/updateBook}" th:object="${bookForUpdate}" method="post">
        <table>
            <thead>
                <tr>
                    <th>Kitap ID Bilgisi</th>
                    <th>Kitap İsmi</th>
                    <th>Kitabın Yazarı</th>
                    <th>Aksiyon</th>
                    <th>Aksiyon</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" th:field="*{id}" value="${bookForUpdate.id}" disabled/></td>
                <td><input type="text" th:field="*{bookName}" value="${bookForUpdate.bookName}"/></td>
                <td><input type="text" th:field="*{authorName}" value="${bookForUpdate.authorName}"/></td>
                <td><input type="submit" value="Kaydet"/></td>
            </tr>
            </tbody>
        </table>
    </form>
    <a th:href="@{/}">Ana Sayfaya Dönün</a>
</body>
</html>